/* Montserrat  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --transition: 300ms ease-in-out;
}

body {
    height: 95vh;
    display: flex;
    overflow-x: hidden;
    font-family: 'Montserrat';
    position: relative;
    flex-direction: column;
}

.darkMode {
    filter: invert(1);
    background: black;
    color: white;
    .userMessage, .faveNumber, .slidingBanner, .userData, button {
        filter: invert(1);
        input:not(#favoriteColor) {
            filter: invert(1);
        }
    }

    .color-cursor {
      filter: invert(0) !important;
    }
}

.faveColor {
  padding: 5px;
  display: flex;
  grid-gap: 15px;
  align-items: center;
  margin-bottom: -60px;
  flex-direction: column;
  justify-content: center;
}

.darkModeToggle {
    position: fixed;
    cursor: pointer;
    top: 15px;
    right: 15px;
    z-index: 1;
    button {
        padding: 5px;
    }
}

section {
    width: 100%;
    height: 70vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
    transform: scale(1.5);
}

.slidingBanner {
  bottom: 15px;
  position: fixed;
}

form {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    padding: 1em;
    input[type="text"] {
        padding: 0.5em;
    }
}

#userData {
  transform: scale(0.8);
  margin-top: -45px;
}

.buttonContainer {
    width: 20%;
    grid-gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeUser .buttonContainer {flex-direction: column;}

.registrationButton { width: 100%;}

input[type="number"] {
    width: 50px;
}

input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
}

// Color Picker
.selectedColor {
    color: white;
  }
  
  .sumitLogo path {
    fill: default;
    -webkit-animation: textAnimate 5s ease-in-out infinite alternate;
            animation: textAnimate 5s ease-in-out infinite alternate;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .animateOnce path {
    fill: default;
    -webkit-animation: textAnimate 5s ease-in-out;
            animation: textAnimate 5s ease-in-out;
  }
  
  @-webkit-keyframes textAnimate {
    0% {
      fill-opacity: 0;
      stroke: white;
      stroke-width: 0px;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
    }
    35% {
      stroke: white;
      stroke-dasharray: 50% 0;
      stroke-width: 5px;
    }
    75% {
      stroke-dasharray: 0 50%;
      stroke-width: 0px;
    }
    100% {
      fill-opacity: default;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: -20%;
    }
  }
  
  @keyframes textAnimate {
    0% {
      fill-opacity: 0;
      stroke: white;
      stroke-width: 0px;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
    }
    35% {
      stroke: white;
      stroke-dasharray: 50% 0;
      stroke-width: 5px;
    }
    75% {
      stroke-dasharray: 0 50%;
      stroke-width: 0px;
    }
    100% {
      fill-opacity: default;
      stroke-dasharray: 0 50%;
      stroke-dashoffset: -20%;
    }
  }
  
  .svg-Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.05em;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    grid-gap: 3em;
  }
  
  .panel-row.colorPicker {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  
  .color-picker-panel {
    transform: scale(0.9);
    background: black;
    width: 310px;
    border-radius: 8px;
    border: 2px solid #364347;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .panel-row {
    position: relative;
    margin: 0 10px 10px;
  }
  
  .panel-row:first-child {
    margin-top: 10px;
    margin-bottom: 6px;
  }
  
  .panel-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .panel-row:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .panel-row:nth-child(4)::after {
    display: none;
  }
  
  .panel-row:nth-child(4) #user-swatches {
    display: none;
  }
  
  .panel-header {
    color: white;
    background: #15191C;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    margin: 0 auto 10px;
    text-align: center;
    text-align: center;
  }
  
  .add-swatch {
    display: none !important;
  }
  
  .swatch {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #ccc;
    border-radius: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #364347;
    cursor: pointer;
  }
  
  .panel-row {
    position: relative;
    margin: 0 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .panel-row .spectrum-map {
    border-radius: 8px;
  }
  
  .panel-row:nth-child(3) {
    display: none;
  }
  
  .eyedropper {
    display: none !important;
  }
  
  .default-swatches {
    display: none;
    width: 212px;
  }
  
  .default-swatches .swatch:nth-child(6n + 1) {
    margin-left: 0;
  }
  
  .color-cursor {
    border-radius: 100%;
    background: #ccc;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    pointer-events: none;
    z-index: 2;
    border: 2px solid #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .color-cursor.dragging {
    -webkit-transition: none;
    transition: none;
  }
  
  .color-cursor#spectrum-cursor {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    top: 0;
    left: 0;
  }
  
  .color-cursor#hue-cursor {
    top: 0;
    left: 50%;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    margin-left: -10px;
    pointer-events: none;
  }
  
  .spectrum-map {
    position: relative;
    width: 212px;
    height: 200px;
    overflow: hidden;
  }
  
  #spectrum-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
  }
  
  .hue-map {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 29px;
    width: 10px;
  }
  
  #hue-canvas {
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
  }
  
  .button {
    background: #2A3137;
    border: 0;
    border-radius: 4px;
    color: #8B949A;
    font-size: 1rem;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    padding: 4px;
  }
  
  .button:active {
    background: #262c31;
  }
  
  .button.eyedropper {
    position: absolute;
    right: 0;
    top: 0;
    width: 68px;
    height: 68px;
    display: block;
  }
  
  .button.add-swatch {
    display: block;
    padding: 6px;
    width: 200px;
    margin: 10px auto 0;
  }
  
  .button.mode-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 40px;
  }
  
  .value-fields {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .value-fields.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .value-fields .field-label {
    margin-right: 6px;
  }
  
  .value-fields .field-input {
    background: #15191C;
    border: 1px solid #364347;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px;
    line-height: 38px;
    padding: 0 4px;
    text-align: center;
    color: #8B949A;
    font-size: 1rem;
    display: block;
  }
  
  .rgb-fields .field-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .rgb-fields .field-input {
    width: 42px;
    margin-right: 10px;
  }
  
  .hex-field .field-input {
    width: 170px;
  }
  
  .color-indicator {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #ccc;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
  }
  
  @media (max-width: 1366px) {
    body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  /*# sourceMappingURL=colorPicker.css.map */